[config]
path = D:\Twitch\
game_name_rule = [^A-Za-z0-9_.\s-]*
window_width = 75
window_height = 65
timestamp_format = HH:MM:SS

[defaults]
wait = 4
quality = best
warning level = 1

[1]
name = Sunbla
channel = http://www.twitch.tv/sunbla
wait = 8
quality = best
warning level = 0

[2]
channel = http://www.twitch.tv/kukkye
wait = 5
quality = best
warning level = 0

[3]
channel = http://www.twitch.tv/calebhart42
wait = 6
quality = best
warning level = 0

[4]
channel = http://www.twitch.tv/tornis
wait = 8
quality = best
warning level = 0

[5]
channel = http://www.twitch.tv/dabigbooi
wait = 4
quality = best
warning level = 0

[6]
channel = http://www.twitch.tv/cirno_tv
wait = 9
quality = best
warning level = 0

[7]
channel = http://www.twitch.tv/day9tv
wait = 4
quality = best
warning level = 1

[8]
channel = http://www.twitch.tv/shaboozey
wait = 6
quality = best
warning level = 2

[9]
channel = http://www.twitch.tv/dexteritybonus
wait = 6
quality = best
warning level = 1

[10]
channel = http://www.twitch.tv/spoonyone
wait = 8
quality = best
warning level = 1

[11]
channel = http://www.twitch.tv/angryjoeshow
wait = 8
quality = best
warning level = 0

[12]
channel = http://www.twitch.tv/djwheat
wait = 6
quality = best
warning level = 0

[13]
channel = http://www.twitch.tv/huskystarcraft
wait = 4
quality = best
warning level = 1

[14]
channel = http://www.twitch.tv/yogscast
wait = 3
quality = best
warning level = 1

[15]
channel = http://www.twitch.tv/arumba07
wait = 3
quality = best
warning level = 1

[16]
channel = http://www.twitch.tv/tastelessTV
wait = 6
quality = best
warning level = 0

[17]
channel = http://www.twitch.tv/northernlion
wait = 2
quality = best
warning level = 2

[18]
channel = http://www.twitch.tv/crendor
wait = 6
quality = best
warning level = 1

[19]
channel = http://www.twitch.tv/totalbiscuit
wait = 1
quality = best
warning level = 2

[20]
channel = http://www.twitch.tv/atk
wait = 9
quality = best
warning level = 0

[21]
channel = http://www.twitch.tv/polaris
wait = 6
quality = best
warning level = 0

[22]
channel = http://www.twitch.tv/speeddemosarchives
wait = 9
quality = best
warning level = 1

[23]
channel = http://www.twitch.tv/speeddemosarchivesda
wait = 9
quality = best
warning level = 1

[24]
channel = http://www.twitch.tv/itmejp
wait = 5
quality = best
warning level = 1

[25]
channel = http://www.twitch.tv/esltv_sc2
wait = 9
quality = best
warning level = 1

[26]
channel = http://www.twitch.tv/zubmit
wait = 9
quality = best
warning level = 1

[27]
channel = http://www.twitch.tv/pykn
wait = 9
quality = best
warning level = 0

[29]
channel = http://www.twitch.tv/flarerdb
wait = 9
quality = best
warning level = 0

[30]
channel = http://www.twitch.tv/puwexil
wait = 9
quality = best
warning level = 0

[31]
channel = http://twitch.tv/linustech
wait = 5
quality = best
warning level = 1

[32]
channel = http://www.twitch.tv/paradoxinteractive
wait = 4
quality = best
warning level = 2

[33]
channel = http://www.twitch.tv/thatonevideojirard
wait = 9
quality = best
warning level = 1

[0]
channel = http://www.twitch.tv/shadowew
wait = 9
quality = best
warning level = 0

[28]
channel = http://www.twitch.tv/lovelymomo
wait = 4
quality = best
warning level = 1

[34]
channel = www.twitch.tv/ddrjake
wait = 3
quality = best
warning level = 1

